
.logo {
    height: 5vh; /* Adjusted for viewport height */
    margin-left: 2vw; /* Adjusted for viewport width */
  }
  
  h1 {
    font-size: clamp(1rem, 2vw, 1.5rem); /* Responsive font size */
  }
  
  .search-container {
    position: relative;
    margin-left: 5vw; /* Adjusted for viewport width */
    padding: 1vh; /* Adjusted for viewport height */
  }
  
  .search-input {
    padding: 0.5em 2em 0.5em 1em; /* Adjusted for scalable padding */
    width: 30vw; /* Width remains responsive */
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
  }
  
  .search-icon {
    position: absolute;
    right: 1vw; /* Adjusted for viewport width */
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    border-radius: 0px 20px 20px 0px;
    height: 2vh; /* Adjusted for viewport height */
  }
  