.home-container {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 920px;
}
.features-section {
  margin: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  margin: 0;
  padding-left: 0; /* Adjust left padding as needed */
}

.view-all-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff00;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-all-button:hover {
  background-color: #0057b30a;
}

.home-banner {
  background-color: #72b2ff;
  color: white;
  padding: 50px 20px;
}

.home-banner h1 {
  font-size: 48px;
  margin: 0;
}

.home-banner p {
  font-size: 20px;
  margin-top: 10px;
}

.features-section {
  margin-top: 20px;
}

.features-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.scrollable-container {
  max-height: 500px; /* Set the height of the scrollable area */
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 10px;
}

.features-row {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-bottom: 20px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer */
}

.features-row::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for webkit browsers (Chrome, Safari, etc.) */
}


.feature-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  flex: 0 0 auto; /* Prevent cards from stretching */
  width: 200px; /* Fixed width for cards */
}

.feature-card:hover {
  transform: scale(1.05);
}

.feature-card h3 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #333;
}

.feature-card p {
  margin: 0;
  font-size: 16px;
  color: #666;
}
